header{
    background-color: #777777;
    color: white;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
body{
    background-color: #f6f5f5;
    box-sizing: border-box;
}
.bordered-container{
    border:1px solid #777;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
#footer{
    background-color: blue;
    color: white;
    border: 5px solid darkblue;
    padding: 5px 25px 5px 25px;
    border-radius: 15px;
    margin: 10px 0px 0px 0px;
}
#logo{
    width: 200px;
    padding: 15px;
}
#logo img{
    width: 100%;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 24px 18px;
}
footer a{
    text-decoration: none;
    color:antiquewhite;
}

nav ul li a.active{
    background-color: blue;
    color:white;
    
}

nav ul li a:hover{
    background-color: #494949;
    color: rgb(236, 236, 236);
}

/*Projects Page Details*/
.container{
    background: #f6f5f5;
    display: inline-block;
    justify-content: center;
}
.container h1{
    text-align: center;
}
.product{
    margin:15px;
    padding: 10px;
    display: inline-block;
    justify-content: space-evenly;
    background-color: #e2e2e2;
    border-radius: 5px;
}

.product:hover{
    background-color: #b2b1b1;
    border-radius: 5px;
}
.product-image{
    width: 250px;
    height: 250px;
    margin: 5px;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    justify-content:space-between;
}

.product-detail a:link{
    text-decoration: none;
}
.product-detail a:hover{
    text-decoration:underline;
    color: blue;
}
.product-detail{
    text-align: center;
    font-size: larger;
}
.z-container{
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    background-color: #e2e2e2;
    border-radius: 15px;
}

.z-container:nth-child(even){
    flex-direction: row-reverse;
}

.image{
    width: 45%;
    border-radius: 15px;
}
.z-text{
    padding-left: 20px;
    margin: 0;
    width: 50%;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

/*
@media screen and (max-width: 600px){
    .z-container{
         flex-direction: column;
    }
    .image{
        width: 100px;
    }
    .z-text{
        width: 100px;
    }
}
*/

#welcome-div {
    border-right: #333 solid 1px;
}

.a-container {
    border: #333 solid 1px;
    border-radius: 1px;
    margin: 10px;
    height:fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    background-color: #e2e2e2;
}
.box{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.box h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.box p{
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
}
#welcome-div{
    flex:2;
    padding: 100px;
}
#register-div{
    flex:1;
    padding: 90px;
}
.Jamaica_Picture{
    width: 300px;
    padding-top: 25px;
}
.input {
    padding: 10px;
    margin: 15px;
    width: 50%;
}
#button{
    border-radius: 5px;
    background-color: #333;
    color: #f6f5f5;
}

@media screen and (max-width:890px) {
    #welcome-div{
        border-right: none;
        border-bottom: #333 solid 1px;
    }
}

@media screen and (max-width: 650px){
    header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
    }
    header nav{
        margin-top: 20px;
    }   
    .z-container{
        flex-direction: column;
    }
    .image{
        width: 100%;
    }
    .z-text{
        width: 100%;
    }

    .z-container:nth-child(even){
        flex-direction: column;
    }
    .a-container{
        flex-direction: column;
        align-items: center;
        width:100%;
        margin: 5px;
    }
    .box{       
        width: 100%;
        padding: 10px 0px;
    }
    #welcome-div{
        flex:2;
        padding: 100px;
    }
    #register-div{
        flex:1;
        padding: 90px;
    }

    #welcome-div{
        border-right: none;
        border-bottom: #333 solid 1px;
    }
    
}